<div class="col-lg-offset-6">
    <h1>Pablo Sánchez</h1>
    <h3>Desarrollador y analista</h3>
    <div>
        <h4>Costa Rica : servicios Tecnologicos </h4>
    </div>
    <div>
        <h4>Puesto : Desarrollador</h4>
    </div>
    <div>
        <h4>Anterior : Test Data</h4>
    </div>
    <div>
        <h4>Educaccion : Universidad Tecnica Nacional Ing. Desarrollo de Software</h4>
    </div>
</div>